image: docker:stable-dind

services:
  - name: docker:stable-dind
    alias: docker  # Alias para permitir la resoluci贸n del nombre

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

before_script:
  - apk add --no-cache docker-compose  # Instalaci贸n de docker-compose si es necesario
  - nslookup docker  # Verificaci贸n de la resoluci贸n de DNS
  - docker info

stages:
  - build
  - deploy

build-job:
  stage: build
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "https://gitlab.laberit.com/"
    - docker build -t "$CI_REGISTRY_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE"
  tags:
    - RunnerCesarF

deploy-job:
  stage: deploy
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "https://gitlab.laberit.com/"
    - docker pull "$CI_REGISTRY_IMAGE"
    - docker-compose -f docker-compose.yml up -d
  tags:
    - RunnerCesarF
